*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
header{
  height: 15vh;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.diva{
  color: #9e2727d0;
  font-size: 50px;
  font-weight: 800;
}
.divb{
  height: 20vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 1000;
    a{
      margin: 15px;
      text-decoration: none;
      color: #FD5400;
      
    }
    sup{
      color: #FF3F88;
      font-size: 10px;
      margin-left: 0;
    }
}
 .divc{
    width:25vw;
    background-color: #f8fafa;
    padding:12px;
    border-radius:4px;
    display:flex;
    align-items:center;
    padding: 5px;
    input{
    width:100%;
    height: 100%;
    border: none;
    outline: none;
    background:none;
  }
}
.divd{
    display:flex;
    gap:30px;
    font-size:13px;
    text-align:center;
    div{
    cursor:pointer;
    font-weight: bolder;
  }
  .icon{
    font-size:18px;
    font-weight: bolder;
}
}
a:hover{
  cursor: pointer;
  color: #FF3F88;
}
button{
  height: 5vh;
  width: 6vw;
  border-radius: 3vw;
  background-color: rgba(0, 0, 199, 0.77);
  color: aliceblue;
  
}
button:hover{
    cursor: pointer;
}
i{
  display: none;
}
@media (max-width:700px){
  a{
    display: none;
  }
  .divc{
    font-size: 2vw;
  }
  .divd{
    display: none;
  }
  i{
    display: inline-block;
    font-size: 5vw;
    font-weight: bold;
  }

}
main{
  height: calc(100% - 15vh);
  height: 40vh;
  display: flex;
  gap: 5vw;
  align-items: center;
  
}
h2{
  text-align: center;
}
img{
   height: 30vh;
  width: 15vw;
}
