*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
header{
    width:100vw;
    height:10vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 2vw;
    border-bottom:0.1vh solid #891f1f;
    border-radius: 1vw;
}
.logo{
    font-size:2.5vw;
    font-weight:bold;
    color:#ff3f6c;
}
.nav-links{
    display:flex;
    gap:2.5vw;
    font-size:1vw;
    font-weight:700;
}
.nav-links a{
    text-decoration:none;
    color:#222;
}
.nav-links span{
    color:red;
    font-size:0.7vw;
}
.search-bar{
    width:35vw;
    height:5vh;
    background:#f5f5f6;
    display:flex;
    align-items:center;
    padding:0 1vw;
    border-radius:0.4vw;
}
.search-bar input{
    width:100%;
    border:none;
    outline:none;
    background:none;
    font-size:1vw;
}
.right-menu{
    display:flex;
    gap:2vw;
    font-size:0.9vw;
    text-align:center;
}
.icon{
    font-size:1.5vw;
}
.ri-menu-line{
  display: none;
}
.products{
    width:100vw;
    padding:2vh 3vw;
    display:grid;
    grid-template-columns:repeat(5, 1fr);
    gap: 1vw;
    background-color: #F7F7FB;
  }
.card{
    position:relative;
    width:100%;
    height:35vh;
    overflow:hidden;
    border-radius:2vw;
    border: 1vh solid rebeccapurple;
}
.card img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.details{
    position:absolute;
    bottom:0;
    width:100%;
    background:rgba(0,0,0,0.6);
    color:#fff;
    padding:1vh 1vw;
}
.details h4{
    font-size:1.2vw;
    text-align: center;
}
.details p{
    font-size:1vw;
    text-align: center;
}
sup{
  color: red;
}
@media (max-width: 768px){
header{
    height:auto;
    display: flex;
    gap:2vh;
    padding:2vh 0;
    background-color: #55f36a84;
}
.logo{
    font-size:6vw;
    }
.nav-links{
    display: none;
}
.search-bar{
    width:80vw;
    height:4.5vh;
    margin-right: 10vh ;
}
.search-bar input{
    font-size:3vw;
  
}
.right-menu{
    display: none;
}
.icon{
    font-size:4vw;
}
.ri-menu-line{
  display: inline-block;
  font-size: 5vw;
  margin-right: 2.5vw;
}
.products{
     grid-template-columns:repeat(2, 1fr);
    gap:3vw;
}
.card{
    height:45vh;
    width: 45vw;
}
.details h4{
    font-size:4vw;
}
.details p{
    font-size:3.5vw;
}
}
